<div style="height: 64px; background-color:aqua">
  
<div class="row" >
  <div class="col" style="border-right: 1px solid;" >
    <div class="input-icons " style="display: inline;">        
      <input type="text" placeholder="Search People, Pages, Groups etc" class="inputSearch " [(ngModel)]="searchText" list="cityname" >
      <datalist id="cityname" *ngFor="let item of this.tt| filter:searchText;let i = index ">
          <option >Trạng thái của bạn: {{item}} <a alt="" href="#demo{{i}}"
              ></a></option> 
        </datalist>
        
      <i class="fas fa-search" style="
      position: absolute;
      margin-left: -34px;
      margin-top: 20px;
      font-size: 22px;" ></i>  
      </div> 
      <p style="display: inline ;margin-left: 30px; margin-right: 30px;">NEWSFEED</p>
  </div>
  <div class="col-7" style="padding-top: 17px; text-align: right;" >
   
<i class="fas fa-home designIcon" ></i>
<i class="fas fa-user designIcon" ></i>
<i class="fas fa-bell designIcon" ></i>
<i class="fas fa-comment-dots designIcon" ></i>
<i class="fas fa-globe-asia designIcon" ></i>
<i class="fas fa-question-circle designIcon" ></i> 
  </div>
</div>



</div>

